/* fotn-size:0.75rem; 12px */
/* fotn-size:0.875rem; 14px */
/* fotn-size:1.125rem; 18px */
/* #138fbf : 개인정보 */
/* #da2128: 운영방침 */
/* #808080: 글자색 */
/* #eee : 박스색 */

#wrap {}
#wrap header {}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
/* nav 시작 */
#wrap header nav {}
#wrap header nav .gnb {}
#wrap header nav .gnb li {}
#wrap header nav .gnb li a {
    /* reset.css 초기값에 다 있기 때문에 생략가능 */
    /* font-family: 'pretendard', sans-serif;
    letter-spacing:-0.02rem;
    line-height: 1;
    color: #000;
    text-align: left; */
    font-size: 1.125rem;
    font-weight: 700;
}
/* sub nav 시작 */
#wrap header .right_menu {}
#wrap header .right_menu li {}
#wrap header .right_menu li a {
    font-size:0.75rem; /* 12px */
    letter-spacing: 0;
}
#wrap header .right_menu li a img {}
/* ----------------------------------------footer */
#wrap footer {}
#wrap footer .top {}
#wrap footer .top .left {}
#wrap footer .top .left a {
    font-weight: 600;
}
#wrap footer .top .left a:nth-child(1) {
    color:#138fbf;
}
#wrap footer .top .left a:nth-child(2) {
    color:#da2128;
}
#wrap footer .top .left a img {}
#wrap footer .top .right {}
/* ============================== footer 패밀리 사이트+사이트맵 공통 */
#wrap footer .top .right .site {
    /* background-color: yellow; */
    border: 2px solid #eee;
    font-size: 0.75rem;
    padding:7px 10px;
}
/* ============================== footer 패밀리 사이트+ 사이트맵 공통*/
#wrap footer .top .right select {
    width: 197px;
}
#wrap footer .top .right select option {}
#wrap footer .top .right .site_map {
    width: 135px;
}
#wrap footer .top .right .site_map span {}
#wrap footer .top .right .site_map img {
    width: 14px;
    height: 14px;
}
#wrap footer .btm {}
/* * 의 뜻 ~ 의 모든 자식들에게 포함하는것 */
#wrap footer .btm * {
    fotn-size:0.875rem;
    color: #808080;
    line-height: 1.5;
}
#wrap footer .btm address {}
#wrap footer .btm p {}