/* sns.css */
/* 폰트 사이즈 */
/* 
3.75rem = 60px
1.625rem = 26px
1.125rem = 18px
*/
/* 배경색 
#F1F1F1, #138fbf,
rgba(0,0,0,0.2),
#F5F5F5,
*/

#wrap {}
#wrap main {text-align: center;}
#wrap main .path {
    background-color:#F1F1F1;
    text-align: right;
    font-size:0.75rem;
    letter-spacing: -0.02rem;
    padding:12px 60px 12px 0;
    border:1px solid #F1F1F1; 
    border-left:0;
    border-right:0;
}
#wrap main .path * {/* 글자디자인구조 */}
#wrap main .path a {}
#wrap main .path img {}
#wrap main .path em {}
#wrap main h1 {
    font-size: 3.75rem;
    font-weight: 700;
    padding-top:80px;
}
#wrap main > p {
    font-size: 1.125rem;
    padding-bottom:80px;
    padding-top:20px;
}
/* 소셜네이트워부분================ */
#wrap main .sns_wrap {
    width: 100%;
    height: 500px;
    background-color: #F5F5F5;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#wrap main .sns_wrap a {
    display:inline-block;
    width: 350px;
    height:280px;
    background-color:#fff;
    margin-right:30px;
    text-align: center;
    padding-top:40px;
    /* display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top:30px; */
}
#wrap main .sns_wrap a:last-child {margin-right:0;}
#wrap main .sns_wrap p img {
    width: 100px;
    height: 100px;
}
#wrap main .sns_wrap a:hover {
    border: 1px solid #138fbf;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
#wrap main .sns_wrap h2 {
    font-size: 1.625rem;
    font-weight: 700;
    padding:30px 0 20px 0;
    letter-spacing: 0.02px;
}
#wrap main .sns_wrap p {
    letter-spacing: 0.02px;
}
#wrap main .sns_wrap .youtube {}
#wrap main .sns_wrap .insta {}
#wrap main .sns_wrap .facebook {}
